### Date cyclic part
Reference1: https://machinelearningmastery.com/basic-feature-engineering-time-series-data-python/

The best default strategy is to use all the knowledge available to create many good datasets from your time series dataset and use model performance (and other project requirements) to help determine what good features and good views of your problem happen to be.

There are several common time frames that trends occur over:

    - absolute_time
    - day_of_year
    - day_of_week
    - month_of_year
1. convert timestamp to 'year', 'Month' and 'Day' 
    - month, day of the year matter
2. find which day of the week the timestamp is
3. convert timestamp to 'age' by subtracting a certain time (now)
    - more new comments might mean the store is more popular

In [6]:
import pandas as pd
example=pd.Series(['2000-10-1','2010-10-1','2011-10-1','2012-12-3'])

#### function 1:
#####input pandas series and return date frame with year, month and day

In [7]:
example

# string type

0    2000-10-1
1    2010-10-1
2    2011-10-1
3    2012-12-3
dtype: object

In [8]:
date=pd.to_datetime(example)
date.dt.month
#datetime type

0    10
1    10
2    10
3    12
dtype: int64

In [9]:
dateframe=pd.DataFrame()
dateframe['month'] = [date[i].month for i in range(len(date))]
dateframe['day'] = [date[i].day for i in range(len(date))]
dateframe['year'] = [date[i].day for i in range(len(date))]
print(dateframe.head(5))

   month  day  year
0     10    1     1
1     10    1     1
2     10    1     1
3     12    3     3

##### function 1 & 2 realization

In [10]:
def funcdate12(example):
    #### function 1&2:
    #####input pandas series and return date frame with year, month and day of week
    date=pd.to_datetime(example)
    dateframe=pd.DataFrame()
    dateframe['month'] = date.dt.month
    dateframe['day'] = date.dt.day
    dateframe['year'] =date.dt.year
    dateframe['dayofweek']=date.dt.dayofweek
    return dateframe

In [12]:
funcdate12(example)

   month  day  year  dayofweek
0     10    1  2000          6
1     10    1  2010          4
2     10    1  2011          5
3     12    3  2012          0

In [33]:
#### function 3:
#####input pandas series and return time difference to a certain day (christmas day) as a pandas series of integers

In [34]:
def funcdate3(example):
    date=pd.to_datetime(example)
    ###find the christmas day of the corresponding day
    xmastime=pd.DataFrame()
    xmastime['year']=date.dt.year
    xmastime['month']=12
    xmastime['day']=25
    ####xdate is pandas series for christmas day
    xdate=pd.to_datetime(xmastime)
    timediff=(xdate-date).dt.days
    return timediff

In [19]:
xmastime=pd.DataFrame()
xmastime['year']=date.dt.year
xmastime['month']=12
xmastime['day']=25

In [25]:
xdate=pd.to_datetime(xmastime)

In [32]:
(xdate-date).dt.days
#convert to integer

0    85
1    85
2    85
3    22
dtype: int64

In [35]:
funcdate3(example)

0    85
1    85
2    85
3    22
dtype: int64

## Combine all three functions togather:

In [36]:
import pandas as pd

def funcdate(example):
    #### function 1&2:
    #####input pandas series and return date frame with year, month and day of week
    date=pd.to_datetime(example)
    dateframe=pd.DataFrame()
    dateframe['month'] = date.dt.month
    dateframe['day'] = date.dt.day
    dateframe['year'] =date.dt.year
    dateframe['dayofweek']=date.dt.dayofweek
    ####find a specific day (christmas) of the corresponding years and return time difference
    xmastime=pd.DataFrame()
    xmastime['year']=date.dt.year
    xmastime['month']=12
    xmastime['day']=25
    ####xdate is pandas series for christmas day
    xdate=pd.to_datetime(xmastime)
    dateframe['timediff']=(xdate-date).dt.days
    return dateframe

In [37]:
funcdate(example)

   month  day  year  dayofweek  timediff
0     10    1  2000          6        85
1     10    1  2010          4        85
2     10    1  2011          5        85
3     12    3  2012          0        22